.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    display: grid;
    grid-column:span 4;
    text-align: end;
    background-color:white;
    color:  rgb(119, 74, 14);
    border-radius: 20px;
    height: 90px;
    width: 100%;
    font-size: xx-large;
    border-color: rgb(245, 243, 220);
    box-shadow: -100px;

}

.calculator{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    background-color: white;
    border: 8px solid;
    box-shadow: 0px;
    border-color: rgb(119, 74, 14);
    height: 500px;
    padding: 35px;
    border-radius: 35px;
    gap: 20px;
}

button{
    height: 65px;
    border-radius: 25px;
    border-color: white;
    box-shadow: 6px;
    font-size: xx-large;
    color:  rgb(119, 74, 14);
}

button:active{
    background-color: rgb(119, 74, 14);
    opacity: 70%;
}

.symbol{
    background-color: rgb(119, 74, 14);
    color: white;
}

